################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug
/Components.SOLID/bin/Debug
/Components.SOLID/obj/Debug
/Components.SOLID/Properties
/obj/Debug
/Properties
